/* Wraps both box-container elements side by side */
.boxes-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px; /* Adds space between the two box containers */
  margin-top: 20px; /* Optional, for some spacing between the header and boxes */
}

/* Centers the entire App */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #474f5f;
}

/* Centers the header content */
.App-header {
  text-align: center;
}

/* Styles for the app name */
h1 {
  font-size: 2em;
  color: #61dafb;
  margin-bottom: 20px;
}

/* Container to hold each box and label pair */
.box-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Styles each box-item container to align box and label vertically */
.box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles each box */
.box {
  width: 150px;
  height: 150px;
  border: 2px solid #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Plus sign for the new project box */
.plus-sign {
  font-size: 3em;
  color: #61dafb;
}

/* Styles for each box label */
.box-label {
  font-size: 0.9em;
  color: #61dafb;
  margin-top: 10px;
  text-align: center;
}
